.footer {
    font-family: 'Inter', sans-serif;
    color: #333;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 10%;
    flex-direction: column;
}

.footer-section {
    display: flex;
    flex-direction: row;
}

.social-media {
    font-size: 24px;
    color: #2B9380;
}

.social-media .fa {
    margin-right: 10px; 
    cursor: pointer; 
}

.social-media .fa:hover {
    color: #555;
}

.links div {
    margin-right: 30px; 
}

.links h4 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #366E7A;
}


.links p {
    margin-bottom: 5px;
    cursor: pointer;
    color: #3796A3;
    
}

.links p:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .links div {
        margin-bottom: 20px;
    }
}
