* {
    background-color: #BBFFF3;
}

.landingPageContainer {
    font-family: 'Inika', serif;
}

.landingPageContent h2 {
    font-size: 3em;
    color: #2f6b78;
}

.landingPageContent p {
    font-size: 1.5em;
    color: #2B9380;
}

.landingPageContent {
    text-align: center;
}

.lpLoginButton {
    background-color: #366E7A;
    color: #8DEEEE;
    border-radius: 10%;
    border: none;
    padding: 15px 25px;
    font-size: 1em;
    margin-bottom: 2em;
    font-family: 'Itim', serif;
    cursor: pointer;
}

.lpLoginButton:hover {
    background-color: #1b5764;
    color: #a1f8f8;
    border: 1px solid black;
}

.landingPageImage {
    text-align: center;
}

.landingPagePic {}